{% extends 'base.html' %}

{% block header %}
<div class="header">
    <h1>Algoritmo Fizzbuzz</h1>
</div>
{% endblock %}

{% block content %}
    <div class="info">
        <p>informe quantos números deseja avaliar :</p>
    </div>

    <div class="form">
        <form method="post">
            <label for="'quantity">
                Quantidade:
            </label>
            <input
                type="text"
                name="quantity"
                id="quantity"
                placeholder="o a 100"
            />

        
    </div>
    <div class="button-container">
        <button class="button"type="submit">
            Mostrar Resultado
        </button>
    </div>
</form>

        {% endblock %}